@font-face {
    font-family: "lobster";
    src: url('/assets/fonts/lobsterId.ttf');
}
@font-face {
    font-family: "pac";
    src: url('/assets/fonts/Pacifico-Regular.ttf');
}
@font-face {
    font-family: "ama";
    src: url('/assets/fonts/Amaranth-Regular.ttf');
}



.row .col.i{
    width: 20.5%;
    margin-left: auto;
    left: auto;
    right: auto;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


#container{
    overflow: scroll;
    height: 880px;
}

#classe_container{
    padding-top: 20px;
}

img.icon{
    height: 50px;
    margin: 7px;
}

span.icon{
    vertical-align: top;
    margin-right: 5px;
}

.collection-item:hover{
    background-color: #ddd;
}

.collection-item:hover .material-icons{
    color: #5a5a5a;
}

span.title {
    font-size: 1.0em;
    font-weight: normal;
    text-align: justify !important;
    font-family: 'ama';
    
}


.card-content {
    padding: 24px 0px !important;
    height: 170px !important;
    overflow: hidden;

}

h1#identifiant{
    font-family: 'lobster', sans-serif;
    margin-left: 2%;
}
