.row .col.i{
    width: 12.5%;
    margin-left: auto;
    left: auto;
    right: auto;
}

footer {
    bottom: 0;
    width: 80%;
    margin: auto;
    padding-left: 20px;
    color: #5a5a5a;
}

#container{
    overflow: scroll;
    height: 880px;
}

#classe_container{
    padding-top: 20px;
}