@font-face {
    font-family: "lobster";
    src: url('/assets/fonts/lobsterId.ttf');
}
@font-face {
    font-family: "pac";
    src: url('/assets/fonts/Pacifico-Regular.ttf');
}
@font-face {
    font-family: "ama";
    src: url('/assets/fonts/Amaranth-Regular.ttf');
}

@font-face {
    font-family: "PT";
    src: url('/assets/fonts/PT-Regular.ttf');
}


.row .col.i{
    width: 20.5%;
    margin-left: auto;
    left: auto;
    right: auto;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


#container{
    overflow: scroll;
    height: 880px;
}

#classe_container{
    padding-top: 20px;
}

img.icon{
    height: 50px;
    margin: 7px;
}

span.icon{
    vertical-align: top;
    margin-right: 5px;
}

.collection-item:hover{
    background-color: #ddd;
}

.collection-item:hover .material-icons{
    color: #5a5a5a;
}

span.title {
    font-size: 1.1em !important;
    font-weight: normal;
    /*text-align: justify !important;*/
    font-family: 'ama';

}

a.buttonA{
    margin-top: 5%;
}


.card-content {
    padding: 24px 0px !important;
    height: 125px !important;
    overflow: hidden;

}

h1#identifiant{
    font-family: 'lobster', sans-serif;
    margin-left: 2%;
}

h1.titleA,h2.titleA{
    font-family: 'lobster', sans-serif;
    margin-left: 2%;
}

h4,h5,h6{
    font-family: 'PT', sans-serif;
    margin-top: 1%;
    margin-bottom: 3%;
}


.spin{
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.pulsar{
    box-shadow: 0 15px 10px -15px rgba(229, 115, 115, 0.7);

    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.pulse-button:hover
{
    -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(229, 115, 115, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(229, 115, 115, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(229, 115, 115, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(229, 115, 115, 0);}}